body {
  background-color: lightblue;
}

h1 {
  color: #FF851B;
  text-align: center;
}

a {
  font-style: italic;
  text-decoration: underline;
}

a:hover {
  cursor:pointer;
}

#delete {
  color: #FF851B;
}

#edit {
  color: ##1c1d91;
}

p {
  font-family: verdana;
  color: #001f3f;
  font-size: 20px;
}

div{
  align-self: center;
}

#under18 {
  color: #FF4136;
}

#editBtn {
    display: none;
}