body {
  background-color: lightblue;
}

h1 {
  color: #FF851B;
  text-align: center;
}


p {
  font-family: verdana;
  color: #001f3f;
  font-size: 20px;
}

div{
	align-self: center;
}

#under18 {
	color: #FF4136;
}
